:root {
  /* general */
  --orange: #ffa100;
  --blue: #280082;
  --dark-blue: #280082;
  --bag-light-blue: #221abc;
  --grey: #333333;
  /* texts */
  --light-blue: #bce0fd;
  --light-grey: #f8f8f8;
  --text-grey: #e1e3e7;
  --text-blue: #280082;
  --text-orange: #ffa100;
  --text-light-grey: #f3f3f3;
  /*shadow*/
  --shadow: #00000029;
}

.text-white {
  color: white !important;
}
