.footer {
  background-color: var(--grey);
  height: 292px;
  padding: 43px 0 58px 0;
}

.footer__container {
  display: flex;
  height: 191px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
