.footer {
  background-color: var(--grey);
  height: 292px;
  padding: 43px 0 58px 0;
}

.footer__container {
  display: flex;
  height: 191px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__container .offsport__subtitle {
  font: normal normal normal 16px/32px Montserrat;
}

.footer__container .offsporter__logo-box {
  margin-bottom: 112px;
  margin-top: 33.6px;
}
