.join-us {
  background-color: var(--orange);
  height: 491px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.join-us__title {
  display: inline-block;
  font-weight: 300;
  font-size: 48px;
  line-height: 58px;
  color: var(--bag-light-blue);
  font: normal normal normal 48px/58px Montserrat;

}

.join-us__title_white {
  color: var(--text-light-grey);
  font: normal normal bold 48px/58px;
  font-weight: 700;
}

.join-us__input {
  margin-top: 31px;
  display: flex;
  justify-content: center;
}
