/* top section */
@media (max-width: 850px) {
  .changes-section {
    height: auto;
    min-height: 350px;
    padding: 20px 0;
  }

  .changes-section .cards-wrapper {
    flex-wrap: wrap;
  }

  .changes-section .cards-wrapper .changes-item {
    margin: 30px;
    min-width: 200px;
  }

  .changes-section .cards-wrapper .h3 {
    font-size: 20px;
    min-width: 120%;
  }

  .card-section {
    flex-direction: column;
    align-items: center;
    height: auto !important;
  }

  .card-section .card-text {
    overflow-y: hidden;
    height: auto;
    width: 90%;
  }

  .card-section > .card-img {
    width: 100%;
  }

  .video-section {
    height: 400px;
  }
}

/* cards section */
@media (max-width: 1200px) {
  h3 {
    font-size: 30px;
  }

  .join-us {
    height: auto;
  }

  .join-us .email-form {
    width: 70%;
    margin: auto;
  }

  .join-us__container {
    padding: 30px;
    width: 80%;
  }

  .join-us__container h3 {
    width: auto;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .join-us__container h3 > br {
    display: none;
  }

  .card-text .large-text {
    font-size: 30px;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .card-text h2 {
    font-size: 20px;
  }

  .card-text p {
    font-size: 16px;
  }

  .card-text .bolder {
    font-size: 16px;
  }

  .card-text {
    overflow-y: auto;
  }
}

@media (max-width: 1500px) {
  /* .wrapped-logo {
    transform: scale(0.7);
  } */

  .card-section .card-text {
    overflow-y: auto;
  }

  .wrapped-logo h2 {
    font: normal normal normal 25px/38px Montserrat;
  }

  .wrapped-logo {
    flex-direction: column;
  }

  .wrapped-logo img {
    width: 200px;
    margin-left: 0 !important;
  }
    
}
